<%= provide(:title, 'Help') %>
<h1>Welcome to the help page</h1>
<h2>No help for you.</h2>
<p>
  The test will fail because 'help' is not what was specified in the test,
  it has to match exactly what is in the test spec. Help (now will pass)
  </p>
<p>
  To get help with the Ruby on Rails tutorial at the
  <a href='http://railstutorial.org/help'>Rails tutorial help page</a>.
  To get help on the Sample app, see the
  <a href='http://railstutorial.org/book'>Rails Tutorial Book</a>
</p>
